 <link rel="stylesheet" href="/style/nav.css">
<div class="nav">
       <br />
        <a href="/">Blogs &nbsp; </a><br />
        <a href="/blogs/create">Create Blog &nbsp; </a>
        <a href="/about">About us </a><br />
</div>
     