<!DOCTYPE html>
<html>
<head>
<title>Blogs | <%= title %></title>
</head>
<body>
    <h2>Home Page</h2><br>
    <a href="/">Blogs</a><br>
    <a href="/about">about</a><br>
    <a href="/blogs/create">new blog</a>
<h2>Oops! page not found :)</h2><br>

</body>
</html>